# --- Логи та тимчасові вихідні файли ---
# Ігноруємо файл логу, який ви згадали
crawler_output.log

# Ігноруємо всі CSV/JSON/XML вихідні файли, згенеровані Scrapy
# Якщо ви використовуєте конкретну назву, додайте її:
output.csv
items.json
# *.csv --- ігноруємо згенерований файл з ОСББ
*.json
# *.jl --- це інший формат в якому воно може писати, тож теж хай буде
*.xml

# Scrapy стандартні логи
scrapy.log
.scrapy/

# --- Середовище Python та віртуальні середовища ---
# Віртуальне середовище (зазвичай у директорії проєкту)
venv/
.venv/
env/

# Типові файли встановлення Python
__pycache__/
*.pyc
*.o
*.pyd
*~
.ipynb_checkpoints
.pytest_cache/
osbb_crawler/__pycache__/

# --- IDE та Операційна Система ---
# PyCharm / IntelliJ
.idea/

# VS Code
.vscode/

# MacOS (Apple)
.DS_Store

# Windows
Thumbs.db

# --- Бібліотеки та Залежності ---
# Директорія, де pip встановлює пакети
lib/
build/
dist/